.menu-link {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}
.menu-link:hover {
  color: #a0aec0; /* Gris claro */
  transform: translateY(-2px) scale(1.05);
}
.menu-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #a0aec0;
  transition: width 0.3s ease, left 0.3s ease;
}
.menu-link:hover::before {
  width: 100%;
  left: 0;
}
